repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: hatch run pytest
        language: system
        pass_filenames: false
        always_run: true
      - id: nbmake
        name: nbmake (notebook execution)
        entry: hatch run pytest --nbmake
        language: system
        types: [jupyter]
        pass_filenames: true
